<header class="header">
  <div class="topmenu">
    <!-- <img [src]="src/assets/img/logo.png"> -->
    <img class="logo paddingClass"src="assets/img/logo.svg" >
    <div class="menu">
      <a class="nav-link menuTitle" href="#jioGlass">
        <span class="menuLabel paddingClass">JIO GLASS</span>
      </a>
      <a class="nav-link menuTitle" href="#experiences">
        <span class="menuLabel paddingClass">EXPERIENCES</span>
      </a>
      <a class="nav-link menuTitle" href="#developer" style="color:#77BAFF">
        <span class="menuLabel paddingClass">DEVELOPERS</span>
      </a>
      <a class="nav-link menuTitle" href="#careers">
        <span class="menuLabel paddingClass">CAREERS</span>
      </a>
    </div>
  </div>
</header>


<div class="serviceblog">
  <div style="padding: 1.75rem 0;" >
    <div class="servicesection paddingClass">
      <div class="info">
        <img class="serviceimg" src="assets/icons/wtd.svg"/>
        <p  class="serviceTitle" style="color:white">Why to DEVELOP?</p>
        <hr style="width: 72%;height: 2px;margin-left: 144%;margin-top: -55%;color: white;">
      </div>
      <div class="info">
        <img class="serviceimg" src="assets/icons/htd.svg" />
        <p class="serviceTitle" style="color:white;">How to DEVELOP?</p>
        <hr style="width: 72%;height: 2px;margin-left: 144%;margin-top: -55%;color: white;">
      </div>
      <div class="info">
        <img class="serviceimg" src="assets/icons/download.svg" style="margin-bottom: -66%;"/>
        <p class="serviceTitle" style="color:white;margin-top: 5%;margin-left: -10%;">DOWNLOADS</p>
        <hr style="    width: 58%;height: 2px;margin-left: 100%;margin-top: -24%;color: white;">
      </div>
      <div class="info" style="margin-left: 16%;">
        <img class="serviceimg" src="assets/icons/community.svg" style="margin-bottom: -66%;" />
        <p class="serviceTitle" style="color:white;margin-top: 5%;margin-left: -10%;">COMMUNITY</p>
        <hr style="    width: 58%;height: 2px;margin-left: 100%;margin-top: -24%;color: white;">
      </div>
      <div class="info">
        <img class="serviceimg" src="assets/icons/signup.svg" style="padding-right: 113px;padding-bottom: 43%;" />
        <p class="serviceTitle" style="color:white;margin-top: 5%;margin-left: -51px;">SIGN in / SIGN UP</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="sectionTitle">
    <div class="sectionInfo">
      <h1>Jio Tesseract Developer Platform</h1>
    </div>
    <div class="sectionInfo">
      <p style="color:white">Be a part building apps for the future of mixed reality with JioGlass</p>
    </div>
    <div class="sectionInfo">
      <p style="color:#77BAFF">Start developing<img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"> &nbsp;&nbsp; Download Kits<img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"></p>
    </div>
  </div>
</div>
<div class="mainInfo">
  <div class="mainTitle">
    <h1 style="font-size: 157%;margin-left: 27%;padding-top: 5%;">Develop for the next Billion internet users</h1>
  </div>
  <div class="mainInfo1" >
    <img class="mainInfoImage" src="assets/img/mainInfo1.png">
    <div class="mainInfomation1" style="margin-left: -14%;width: 100%;padding-top: 6%;">
      <p style="color: #166FCC;margin-top: -16%;margin-left: 51%;">THE IMMEDIATE GROWTH</p>
      <p style="color: white;margin-top: 0%;margin-left: 51%;">India had nearly 700 million internet users across the country. This figure is projected to grow <br> to over 974 million
        users by 2025. Be a part of this digital growth now.</p>
        <p style="color: #77BAFF;margin-top: 0%;margin-left: 51%;">Start developing<img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"></p>
      </div>

    </div>
    <div class="mainInfo2" style="margin-top: -6%;">
      <img class="mainInfoImage" src="assets/img/mainInfo2.png">
      <div class="mainInfomation1" style="margin-left: -14%;width: 100%;padding-top: 6%;">
        <p style="color: #166FCC;margin-top: -16%;margin-left: 51%;">5G NETWORK GROWTH</p>
        <p style="color: #797979;margin-top: 0%;margin-left: 51%;font-style: italic;">“I assure you that Jio will pioneer the 5G revolution in India in the second half of 2021. It will be powered by
          indigenous-developed network, hardware and technology components” </p>
          <p style="color: white;margin-top: -0.5%;margin-left: 51%;font-style: italic;">- Mukesh D. Ambani</p>
          <p style="color: white;margin-top: 1%;margin-left: 51%;font-size:14px">With a growth in 5G network, the increase of mixed reality experiences will be seamless</p>
          <p style="color: #77BAFF;margin-top: 0%;margin-left: 51%;">Sign up now <img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"></p>
        </div>

      </div>
    </div>
    <div class="infosection">
      <div class="infotitle">
        <h1 style="font-size:30px;color:#4096EF;text-align: center;">JioGlass is everything you imagined in a <br>Mixed Reality Innovation</h1>
        <p>We have got 25,000 sign ups who are eagerly waiting for the updates on JioGlass and its launch.</p>
      </div>
      <img src="assets/img/vr1.png" width=872px height=565px; />
    </div>
    <div class="launchSection">
      <img src="assets/img/sunglasses.png"  style="margin-left: 45%;margin-top: -2%;"/>
      <p style="color:#4096EF;text-align:center;text-align: center;font-size: 165%;font-weight:700;margin-left:2%;letter-spacing: 0px;color: #4096EF;">JioGlass Launch Program 2021</p>
      <p style="color:white;text-align:center;text-align: center;">Will be initially launched in June 2021 & then finally to the consumer market <br>by December 2021.</p>
      <div class="sectionInfo">
        <p style="color:#77BAFF">Keep me updated <img src="assets/icons/arrow.svg" style="margin-left: 0.5%;">&nbsp;&nbsp; Submit concept<img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"></p>
      </div>
    </div>
    <div class="servicelist" style="    padding-top: 15%;padding-bottom: 10%;">
      <!-- <img src="assets /img/sunglasses.png" style="margin-left: 45%;margin-top: -2%;" /> -->
      <p style="color:#4096EF;text-align:center;text-align: center;font-size: 165%;font-weight:700;margin-left:2%;letter-spacing: 0px;color: #4096EF;">
        How to get started?</p>
        <p style="color:white;text-align:center;text-align: center;">Simple 4 step process</p>
        <div class="serviceblog">
          <div style="padding: 1.75rem 0;background:black!important">
            <div class="servicesubsection paddingClass">
              <div class="info" width=141px height=21px;>
                <img  src="assets/img/service1.svg" />
                <p  style="color:white; text-align: center;color: white;font-size: 73%;margin-top: 15%;">Explore & know <br><a href="#" style="color:#2887EA">‘How to develop?’</a></p>
              </div>
              <div class="info">
                <img  src="assets/img/service2.svg" />
                <p  style="color:white; text-align: center;color: white;font-size: 73%;margin-top: 15%;"><a href="#" style="color:#2887EA">Submit</a> Concept <br>Application</p>
              </div>
              <div class="info">
                <img  src="assets/img/service3.svg" />
                <p  style="color:white; text-align: center;color: white;font-size: 73%;margin-top: 15%"><a href="#" style="color:#2887EA">Sign up</a> to access the tools & SDKs</p>
              </div>
              <div class="info" >
                <img  src="assets/img/service4.svg" />
                <p  style="color:white; text-align: center;color: white;font-size: 73%;margin-top: 15%;">Publish and <br>Monetise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer paddingClass">
        <div class="footerContent">
          <div style="margin: 0;box-sizing: border-box;margin-top: 5%;">
            <h1 style="color:#166FCC;font-size: 144%;">How to Develop?</h1>
            <h6 style="width: 51.5%;">Guides & references for developing for JioGlass & Mixed Reality applications are provided and listed for your easy
              execution and developing, publishing, analysing and monetising your apps.</h6>
              <p style="color:#166FCC;font-size: 100%;">Know more<img src="assets/icons/arrow.svg" style="margin-left: 0.5%;"></p>
            </div>
          </div>

          <hr style="    width: 8%;height: 2px;margin-left: 50%;margin-top: -6%;">
          <div class="signup">
            <p style="color:#166FCC;font-size: 100%;">Sign up</p>
          </div>
        </div>
        <div class="contactsection">
          <div class="contactsection1">
            <div class="contactsubsection">
              <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Product</h6><a
              class="contactlink" aria-current="page" href="/">
              <p>JioGlass</p>
            </a>
            <div style="margin-top: 48px; "></div>
            <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Consumer</h6><a
            class="contactlink" aria-current="page" href="/consumer">
            <p >Consumer Applications</p>
          </a>
          <div style="margin-top: 48px; "></div>
          <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Consumer</h6><a
          class="contactlink" aria-current="page" href="/consumer">
          <p >Consumer Applications</p>
        </a>
      </div>
      <div class="contactsubsection" style="margin-left: 6%;margin-top: -2.6%;">
        <div style="margin-top: 48px; "></div>
        <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Developer</h6><a
        class="contactlink" aria-current="page" href="/developers">
        <p style="margin-bottom: 0;">Why to Develop?</p>
        <p style="margin-bottom: 0;">How to Develop?</p>
        <p style="margin-bottom: 0;">Downloads</p>
        <p style="margin-bottom: 0;">Community</p>
        <p style="margin-bottom: 0;">Sign up</p>
      </a>
      <div style="margin-top: 56px; "></div>
      <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Careers</h6>
      <a class="contactlink" href="/careers" aria-current="page">
        <p>Opportunities</p>
      </a>
    </div>
    <div class="contactsubsection" style="margin-left: 6%;margin-top: -2.5%;">
      <div style="margin-top: 48px; "></div>
      <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Contact</h6>
      <p style="font-size: 63%;">Corporate Office <br>Tesseract Imaging Ltd, <br>
        T22,
        Reliance Corporate Park, Navi Mumbai, India - 400701<br>
        Mail us @&nbsp;&nbsp; info@tesseract.in</p>
      </div>
      <div class="contactsubsection" style="margin-left: -16%;margin-top: 6.6%;">
        <div style="margin-top: 48px;"></div>
        <h6 style="cursor: pointer;font-size: 1rem;margin-bottom: 5px;">Follow us</h6>
        <div style="flex-direction: column;">
          <img src="assets/icons/linkedin.svg"/>
          <img src="assets/icons/instagram.svg" />
          <img src="assets/icons/facebook.svg" />
        </div>
      </div>
      <p class="contactlink" style="margin-top: 20%;text-align: center;margin-left: -21%;font-size: 88%;">Design & Copyright | Jio Tesseract</p>
    </div>
  </div>
  <router-outlet></router-outlet>
