.header{
  /* top: 0px; */
  /* left: 0px; */
  background: #000;
  color: #fff;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.menu{
  margin-left: auto;
}

/* opacity: 1; */

.topmenu{
  /* top: 42px; */
  /* left: 0px; */
  width: 1920px;
  min-height: 64px;
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  /* height: 148px; */
}

.bottommenu{
  top: 90px;
  left: 0px;
  width: 1920px;
  height: 100px;
  background: #191919 0% 0% no-repeat padding-box;
  opacity: 1;
}

.serviceblog{
  top: 0;
  z-index: 1;
  position: sticky;
  background: #191919 0% 0% no-repeat padding-box;
}

.serviceTitle{
  font-size:13px;
  text-align:left;
  /* margin-left: 1%; */
}

.serviceimg{
  margin-left: -62%;
  margin-bottom: -82%;
  font-size:15px;
  text-align:left;
  /* margin-top: -1.5%; */
}

.servicesection{
  margin-bottom: 0%;
  margin-top: 1%;
  max-width: 630px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: auto;
}

.servicesubsection{
  margin-bottom: 0%;
  margin-top: 1%;
  max-width: 630px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: auto;
}

hr {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}
hr.vert {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}
hr#vert1 {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}

.signup{
  margin-left: 57%;
  margin-top: -3.5%;
}

.footer{
  width: 100%;
  height: 261px;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.footerContent{
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}



.info{
  align-items: center;
  /* display: flex; */
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 25%;
  margin-top: 4%;
  margin-bottom: -2%;
}

.paddingClass{
  padding-left: 24px;
  padding-right: 24px;
}

.section{
  /* top: 193px;
  left: 0px;
  width: 1921px; */
  height: 773px;
  color: #ffffff;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  /* opacity: 1; */
  background-image:url('src/assets/img/section1.png')
}

.sectionInfo{
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0px;
  color: #166FCC;
  opacity: 1;
}

.logo{
  left: 37px;
}

.menuTitle{
  text-align: center;
  font: normal normal medium 16px/19px JioType !important;
  letter-spacing: 0.26px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  /* font-family: JioTypeLight, AvenirBlack; */
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  /* opacity: 1; */
}


.menuLabel{
  width: 100%;
  display: inherit;
  align-items: inherit;
  margin-left: -100%;
  justify-content: inherit;
}

.sectionTitle{
  position: absolute;
  top: 6%;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.mainInfo{
  /* max-width: 1280px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  top: 1022px;
  left: 308px;
  height: 48px;
  */
  top: 1022px;
  left: 308px;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.mainTitle{
  /* mainTitle */
  top: 1022px;
  left: 308px;
  width: 44%;
  height: 48px;
  text-align: center;
  letter-spacing: 0px;
  color: #4096EF;
  opacity: 1;
}


.mainInfoImage{
  margin-left: 15%;
  margin-top: 2%;
  width: 386px;
  height: 249px;
}

.mainInfomation1{
  top: 1179px;
  left: 726px;
  width: 782px;
  height: 46px;
}


.infosection{
  color: #ffffff;
  background: #000000;
  padding-top: 0rem;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.infotitle{
  max-width: 1280px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}


.launchSection{
  padding: 4rem 0;
  background: #1F1F1F 0% 0% no-repeat padding-box;
  width: 1919px;
  height: 290px;
  /* margin-left: 45%;
  margin-top: -2%; */
  /* text-align: center; */
}
.servicelist{
  padding: 4rem 0;
  background: black;
  width: 1920px;
  height: 100%;
  /* margin-left: 45%;
  margin-top: -2%; */
  /* text-align: center; */
}

.contactsection{
  color: white;
  background-color: #000000;
  font-size: 1.125rem;
  position: relative;
  padding: 5rem 0;
  justify-content: center;
  font-weight: 400;
}

.contactsection1{
  width: calc(100% + 8px);
  margin: -4px;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
  background-color: #000000;
  font-size: 1.125rem;
  position: relative;
  padding: 5rem 0;
  font-weight: 400;
}

[aria-current="page"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: white;
}


.comtactsubsection{
  padding: 4px;
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.contactlink{
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-family: JioTypeLight, AvenirBlack;
  font-weight: 400;
  line-height: 1.43
}
